body{
    background:  hsl(30, 54%, 90%);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 680px;
    height: 1540px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 18px;
}
.picture img{
    width: 100%;
    height: auto;
    border-radius: 18px;
}
.picture h1{
    font-family: 'Times New Roman', Times, serif;
}
.picture p{
    color:hsl(30, 10%, 34%);
    font-size: 17px;
}
.preparation-time{
    background: hsl(330, 100%, 98%);
}
.preparation-time h3{
    margin-left: 3%;
    color: hsl(332, 51%, 32%);
}
.preparation-time ul li{
    padding: 7px;
    font-size: 16px;
}
.ingredients h1{
    font-family: 'Times New Roman', Times, serif;
    color: hsl(14, 45%, 36%);
}
.ingredients ul li{
    color:  hsl(30, 10%, 34%);
    font-size: 16px;
    padding: 5px;
}
.instructions h1{
    font-family: 'Times New Roman', Times, serif;
    color: hsl(14, 45%, 36%);
}
.instructions ol li::marker{
    color: hsl(14, 45%, 36%);
}
.instructions ol li{
    padding: 7px;
    color: hsl(30, 10%, 34%);
}
.nutrition h1{
    font-family: 'Times New Roman', Times, serif;
    color: hsl(14, 45%, 36%);
}
.nutrition p{
    color: hsl(30, 10%, 34%);
}
.table-nutrition{
  width: 700px;
  border-collapse: collapse;
}
.table-nutrition td{
    padding:15px;
}
.table-nutrition td span{
    color: hsl(14, 45%, 36%);
}
.table-nutrition td .carb{
    margin-left: -145px;
}
.table-nutrition td .protien{
    margin-left: -162px;
}
.table-nutrition td .fat{
    margin-left: -100px;
}
